<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "sample app", static_pages_home_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("header.translate_en"), locale:"en" %></li>
      <li><%= link_to t("header.translate_vi"), locale:"vi" %></li>
       <li><%= link_to t("header.home"), static_pages_home_path %></li>
      <li><%= link_to t("header.help"), static_pages_help_path %></li>
      <li><%= link_to t("header.login"), "#" %></li>
    </ul>
  </nav>
</div>
</header>

